/* Media frame layout */
.media-frame-content .wp-owl-toggle-container{
	display: none;
}
.media-frame-content .wp-owl-toggle-container .setting select{
	float:right;
}
.media-frame-content .wp-owl-toggle-container .setting [type="checkbox"]{
	float:right;
	margin-top:13px;
}
.media-sidebar .wp-owl-toggle-container .setting input[type="text"],
.media-sidebar .wp-owl-toggle-container .setting textarea{
	width:55%;
}
.media-modal .wp-owl-toggle-container .media-sidebar .setting span,
.media-modal .wp-owl-toggle-container .compat-item label span{
	width:39%;
}


/* Admin options page */
.wpowl-settings .form-table td{
	padding:5px 10px;
}