.owl-carousel .render-mode-background{
	background-size:contain;
	background-repeat:no-repeat;
	background-position: center center;
}

.owl-carousel .render-mode-background a{
	display:block;
	width:100%;
	height:100%;
}
.wp-owl-carousel{
	position: relative;
}
.wp-owl-carousel img{
	-webkit-transition: opacity 0.5s ease-out;
	-moz-transition: opacity 0.5s ease-out;
	-ms-transition: opacity 0.5s ease-out;
	-o-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
}
.wp-owl-carousel.loading .item{
	position: absolute;
	top:0;
	z-index: 0;
	opacity:0.01;
	background-size:contain;
	background-repeat:no-repeat;
	background-position: center center;
}
.wp-owl-carousel.loading .item:first-child{
	position: relative;
	z-index: 1;
	width:100%;
	background-color:#fff;
	opacity:1;
}
.wp-owl-carousel.loading .item:first-child img{
	width:100%;
	max-width:100%;
	opacity: 0.5
}

.wp-owl-carousel.init .item{
	position: absolute;
	top:0;
	left:0;
	z-index: 5;
}
.wp-owl-carousel.init .item:first-child{
	position: relative;
	z-index: 10;
}
.wp-owl-carousel.init img{
	max-width:100%;
}
.wp-owl-carousel .img-bg{
	display: block;
	width:150px;
	height:150px;
	background-position: center center;
	background-size:contain;
	background-repeat:no-repeat;
}