.redux-container{
	border-radius:5px 5px 0 0;
}
.redux-container [class^="icon-"]:before,
.redux-container [class*=" icon-"]:before{
	font-family: 'Elusive-Icons';
}
.admin-color-fresh #redux-header{
	border-color:#6ca838;

	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.admin-color-fresh #redux-header .display_header{
	padding:20px 10px 20px 100px;
	background-image:url(../img/owl-logo.png);
	background-position:left center;
	background-repeat:no-repeat;
	background-size:contain;
}
#redux-header h2,
.admin-color-fresh #redux-footer #redux-share a{
	color:#6ca838;
}
.admin-color-fresh .redux-sidebar .redux-group-menu li.active{
	border-left:3px solid #6ca838;
}
.help-tab-content pre{
	overflow: visible;
}